
.onepage-add:before { content: '\e800'; } /* '' */
.onepage-delete:before { content: '\e801'; } /* '' */
.onepage-edit:before { content: '\e802'; } /* '' */
.onepage-ellipsis-horizontal:before { content: '\e803'; } /* '' */
.onepage-ellipsis-vertical:before { content: '\e804'; } /* '' */
.onepage-filter:before { content: '\e805'; } /* '' */
.onepage-menu:before { content: '\e806'; } /* '' */
.onepage-search:before { content: '\e807'; } /* '' */
.onepage-settings:before { content: '\e808'; } /* '' */
.onepage-checked:before { content: '\e809'; } /* '' */
.onepage-unchecked:before { content: '\e80a'; } /* '' */
.onepage-eye:before { content: '\e80b'; } /* '' */
.onepage-eye-off:before { content: '\e80c'; } /* '' */
.onepage-help-circled:before { content: '\e80d'; } /* '' */
.onepage-help-circled-alt:before { content: '\e80e'; } /* '' */
.onepage-doc-empty:before { content: '\e80f'; } /* '' */
.onepage-doc:before { content: '\e810'; } /* '' */
.onepage-doc-new:before { content: '\e811'; } /* '' */
