@font-face {
  font-family: 'basics-icons';
  src: url('../font/basics-icons.eot?74993818');
  src: url('../font/basics-icons.eot?74993818#iefix') format('embedded-opentype'),
       url('../font/basics-icons.woff2?74993818') format('woff2'),
       url('../font/basics-icons.woff?74993818') format('woff'),
       url('../font/basics-icons.ttf?74993818') format('truetype'),
       url('../font/basics-icons.svg?74993818#basics-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'basics-icons';
    src: url('../font/basics-icons.svg?74993818#basics-icons') format('svg');
  }
}
*/
[class^="onepage-"]:before, [class*=" onepage-"]:before {
  font-family: "basics-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.onepage-add:before { content: '\e800'; } /* '' */
.onepage-delete:before { content: '\e801'; } /* '' */
.onepage-edit:before { content: '\e802'; } /* '' */
.onepage-ellipsis-horizontal:before { content: '\e803'; } /* '' */
.onepage-ellipsis-vertical:before { content: '\e804'; } /* '' */
.onepage-filter:before { content: '\e805'; } /* '' */
.onepage-menu:before { content: '\e806'; } /* '' */
.onepage-search:before { content: '\e807'; } /* '' */
.onepage-settings:before { content: '\e808'; } /* '' */
.onepage-checked:before { content: '\e809'; } /* '' */
.onepage-unchecked:before { content: '\e80a'; } /* '' */
.onepage-eye:before { content: '\e80b'; } /* '' */
.onepage-eye-off:before { content: '\e80c'; } /* '' */
.onepage-help-circled:before { content: '\e80d'; } /* '' */
.onepage-help-circled-alt:before { content: '\e80e'; } /* '' */
.onepage-doc-empty:before { content: '\e80f'; } /* '' */
.onepage-doc:before { content: '\e810'; } /* '' */
.onepage-doc-new:before { content: '\e811'; } /* '' */
